BasedOnStyle: Google

# indent
IndentWidth: 4                 
TabWidth: 4                    
UseTab: Never                 

ColumnLimit: 100

# spaces
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true

SortIncludes: true             
IncludeBlocks: Preserve  
IncludeCategories:
  - Regex: '^<.*\.h>'    
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# blank lines
AllowShortBlocksOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AlwaysBreakAfterReturnType: None            
EmptyLineBeforeAccessModifier: Always

# align
AlignConsecutiveAssignments: true           
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right                 

# args
BinPackArguments: false                      
BinPackParameters: false                    
PenaltyBreakFirstLessLess: 10               

# blocks
AllowShortFunctionsOnASingleLine: None       
AllowShortIfStatementsOnASingleLine: false   
AllowShortLoopsOnASingleLine: false          

# comments
CommentPragmas: '^ IWYU pragma:'             
ReflowComments: true                       

# class
ConstructorInitializerAllOnOneLineOrOnePerLine: true 
BreakBeforeInheritanceComma: true                

DerivePointerAlignment: false               
PointerAlignment: Left                     

# debug
FixNamespaceComments: true                  
InsertTrailingCommas: None                
SortUsingDeclarations: true                
